@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans+JP:wght@400&family=Gugi&family=Noto+Sans+TC:wght@300;400&family=Play&family=Rajdhani:wght@500&family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Gugi&family=Kdam+Thmor+Pro&family=Montserrat:wght@300;400&family=Noto+Sans+JP:wght@300&family=Noto+Sans+TC:wght@300;400&family=Play&display=swap');
*{box-sizing: border-box; margin: 0; padding:0;}

@keyframes image_animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

::placeholder{
  color: #3f3f3f;
}

html{
    height: 100%;
    

}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-color: #999999; */
    height: 100%;
}


.side-menu{
    color: #3f3f3f;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100%;
    width: 20%;
    min-width: 340px;
    background-color: rgba(207, 207, 207, 0.699);
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(-103%);
    box-shadow: 5px 0px 5px rgba(85, 85, 85, 0.336);
    transition: .5s;
    z-index: 2;
    padding: 0px 15px 0px 15px
}

.side-menu div{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #666666;
}

.side-menu div h1{
    padding-bottom:15px;
}




#language{
    position: absolute;
    padding:10px
}

.bg{
    position: fixed;
    top:50%;
    left:50%; 
    transform: translate(-50%, -50%);
    z-index: -999;
    
}


.bg img {
    min-width: 1920px;
    min-height: 100%;
    width: 100%;
    animation-name: image_animation;
    animation-duration: 1s;
    
}

#bg-m{
    width: 100%;
    height:100%;
    backdrop-filter: blur(0px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
}

.options{
  border-bottom: 0px;
  display: flex; 
  justify-content:space-between; 
  align-items: center; 
  position: relative;
}

@media screen and (max-width: 1920px) {
    img.bg {
        left: 50%;
        margin-left: -960px;
    }
}

.wrap{
 max-width: 800px;
 margin:0 auto 0 auto;
 height: auto;
 min-width: 640px;
}

#clock{
    height: 90px;
    margin-top: 20%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 420%;
    color: hsla(0, 0%, 0%, 0);
    text-shadow: 0.03em 0.03em 0.1em rgb(133, 133, 133);
    transition-duration: 300ms;
    cursor: pointer;
  }




#clock:hover{
    font-size: 470%;
    transition-duration: 300ms;
}

.line{
    display: none;
    border-top: #e7e7e7 solid 1px;
    width: 200px;
    margin: 0px auto;
}

.date{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: aliceblue;
    text-shadow: 0.05em 0.05em 0.1em rgb(133, 133, 133);
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.search{
    display: flex;
    top: 30px;
    width: 640px;
    margin: 0 10% 0 10%;
    position: relative;
    justify-content: center;
   }

.search-bar{
    outline: none; /* 取消點擊邊框 */
    background-color: rgba(255, 255, 255, 0.418);
    border: 0px;
    border-radius: 5px;
    padding: 0 40px 0 40px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif,'Noto Sans TC', sans-serif;
    
}   
.icon{
    position: absolute;
    right: 1.5%;
    top: 25%;
    z-index: 1;
    color: #4f5b66;
  }

  .icon-google{
    height: 16px;
    position: absolute;
    right: 95%;
    top: 25%;
    z-index: 1;
    color: #4f5b66;
  }

  #search-btn{
    color: #4f5b66;
  }

#search-btn{
    cursor: pointer;
}

.side-menu-cancle,.side-menu-apply{
    text-decoration:none;
    color:#3f3f3f;
    margin: 0px 5px; 
    cursor: pointer;
    padding: 1px 5px;
    background: #d1d1d1;
    border-radius: 3px;
    transition-duration: 300ms;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}
.side-menu-cancle:hover,.side-menu-apply:hover,#select-image-title,#background-setting-reset-btn:hover, #colok-color-reset-btn:hover{
    background: #e0e0e0;
    transition-duration: 300ms;
}

#language-select,#search-engine-select{
    color:#3f3f3f;
    background: #d1d1d1;
    border: 0px;
    border-radius: 3px;
    padding:2px 2px;
    font-size: 12px;
    height: 20px;
    width:64px;
    outline: none;
}

#background-flie{
    display: none;
}

#select-image-title{
    background-color: #d1d1d1;
    display: inline;
    padding: 0px 2px;
    border-radius: 3px;
    transition-duration: 300ms;
    cursor: pointer;
}

#background-title{
    margin-bottom: 3px;
}

.btn-box {
    display:inline-block;
    vertical-align:middle;
    width: 40px;
    height: 20px;
    border-radius:3px;
    background-color: #ccc;
    box-shadow: 0px 3px 0px rgba(0,0,0,.13) inset;
}


#background-setting-reset-btn, #colok-color-reset-btn{
    color: #3f3f3f;
    margin: 0px 5px;
    cursor: pointer;
    padding: 1px 5px;
    background: #d1d1d1;
    border-radius: 3px;
    border: 0px;
    font-family: 'Noto Sans TC', sans-serif;
    transition-duration: 300ms;
    font-size: 16px;
}


.btn-box .btn {
  display:inline-block;
  width: 20px;
  height: 20px;
  border-radius:3px;
  background-color: #fff;
  margin-left: 0;
  transition: .2s;
  box-shadow:1px 2px 5px rgba(0,0,0,.3);
}
.checkbox {
  position:absolute;
  opacity:0;
}
.checkbox:checked + .btn-box {
  background-color: rgb(121, 228, 121);
}
.checkbox:checked + .btn-box .btn {
  margin-left: 20px;
}

#site-menu{
  display: none;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  top: 120px;
  width: 610px;
  height: 75px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.418);
}

.stie-link{
  display: flex;
  flex-wrap: wrap;
}

.site-block{
  background-color: #949494af;
  box-shadow:1px 2px 5px rgba(0,0,0,.15);
  border-radius: 5px;
  height: 55px;
  width:140px;
  margin: 10px 5px 10px 5px;
  transition-duration: 300ms;
  
}
.site-block:hover{
  background-color: #acacacaf;
  box-shadow:1px 2px 5px rgba(255, 255, 255, 0.15);
  transition-duration: 300ms;
}

.site-btn{
  display: flex;
  width: 140px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-family:'Noto Sans TC', sans-serif, 'Noto Sans JP', sans-serif,'Montserrat', sans-serif;
  font-size: 18px;
}

.site-btn span{
  margin: auto auto;
  text-decoration: none;
}

.site-name{
  width: 25%;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  height: 20px;
  border-radius:2px;
  padding-left:2px;
}
.site-url{
  width: 60%;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  height: 20px;
  border-radius:2px;
  padding-left:2px;
}


.site-name-litle{
  display: inline;
}

.site-edit{
  width: 10%;
  font-size: 14px;
  background-color: #d1d1d1;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.site-edit:hover{
  font-size: 14px;
  background-color: #d1d1d1;
  padding: 2px;
  border-radius: 3px;
  
}

.link-menu-switch-title{
  font-family:'Noto Sans TC', sans-serif, 'Noto Sans JP', sans-serif,'Montserrat', sans-serif;
}